* {
  box-sizing: border-box;
}

html {
  margin: 10px;
}

body {

  width: 320px;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
}

.header {
  text-align: center;
}

.header-img {
  width: 65%;
}

.header-description {
  color: #1D1F22;
  font-weight: 600;
  font-size: 1.25rem;
}

.main {
  text-align: center;
}

.main-description-container {
  font-size: 0.90rem;
}

.main-input-container {
  margin-bottom: 20px;
}

.main-input__input {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #73bf42;
}

.main-input__input::placeholder {
  color: #1D1F22;
  opacity: 0.4;
}

.main-input__btn {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: bolder;
  margin: 15px 0 10px 0;
  background-color: #f4821a;
}

.main-input__btn:hover {
  transition: 0.7s;
  background-color: #f55e00;
}

.main-input__storage {
}

.storage__btn {
  padding: 4px 8px;
  color: #a2a2a2;
  cursor: pointer;
  margin: 15px 5px 0;
  font-size: 0.80rem;
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid #73be42;
  background-color: transparent;
}

.storage__btn__img {
  width: 25%;
  padding: 0 4px;
}

.storage__btn:hover {
  background: #f5f5f5;
}

.result-number {
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
}

.status-container {
  display: flex;
  margin: 10px 0;
  padding: 8px 15px;
  font-size: 0.9rem;
  width: fit-content;
  border-radius: 40px;
  align-items: center;
  justify-content: left;
}

.status-canceled {
  background-color: rgb(246 202 161);
  color: rgb(255, 0, 0);
}

.status-success {
  background-color: rgba(115, 191, 66, 0.3);
  color: rgba(115, 191, 66);
}

.status-new-order {
}

.status__img {
  padding-right: 5px;
}

.result-container {
  margin-top: 20px;
  font-size: 0.9rem;
}

.result__list {
  border-left: 2px dashed #a2a2a2;
  padding: 0;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  list-style: none;
}

.result-list__item {
  padding: 10px;
}

.result-list-item__description {
  display: flex;
  align-items: flex-start;
}

.result-list-item__img {
  padding-right: 10px;
}

.result-list-item__date {
  padding-left: 25px;
  color: #a2a2a2;
}



